
.dart_tool/
.packages
.buildlog/
pubspec.lock


/android/.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties
/android/app/key.jks


/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Pods/
/ios/Runner.xcworkspace
ios/Runner/GeneratedPluginRegistrant.*


macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Runner.xcworkspace


build/


.vscode/
.idea/
*.iml


*.log
*.tmp
*.swp
*.lock
